<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h2 class="mb-3">Incrivez-vous</h2>
  <div class="row form-card">
    <form
      (ngSubmit)="registration.valid && onSubmitForm()"
      [formGroup]="registration"
      #myForm="ngForm"
    >
      <div class="col-6 form-group mb-4">
        <label for="email exampleFormControlInput1">Identifiant : </label>
        <input
          type="email"
          name="email"
          id="email exampleFormControlInput1"
          formControlName="email"
          placeholder="Email"
          class="form-control"
        />
        <div *ngIf="registration.controls['email'].errors">
          <span *ngIf="registration.controls['email'].errors?.['required']"
            >Le champ "email" est requis</span
          >
        </div>
      </div>
      <div class="col-6 form-group mb-4">
        <label for="pwd exampleFormControlInput1">Mot de passe : </label>
        <input
          type="password"
          name="pwd"
          id="pwd exampleFormControlInput1"
          formControlName="pwd"
          placeholder="Entrez un mot de passe"
          class="form-control"
        />
        <div *ngIf="registration.controls['pwd'].errors">
          <span *ngIf="registration.controls['pwd'].errors?.['required']"
            >Le champ "password" est requis</span
          >
        </div>
      </div>
      <div class="col-6 form-group mb-4">
        <label for="lastname exampleFormControlInput1">Nom : </label>
        <input
          type="text"
          name="lastname"
          id="lastname exampleFormControlInput1"
          formControlName="lastname"
          placeholder="Entrez votre nom de famille"
          class="form-control"
        />
        <div *ngIf="registration.controls['lastname'].errors">
          <span *ngIf="registration.controls['lastname'].errors?.['required']"
            >Le champ "Lastname" est requis</span
          >
        </div>
      </div>
      <div class="col-6 form-group mb-4">
        <label for="firstname exampleFormControlInput1">Prénom : </label>
        <input
          type="text"
          name="firstname"
          id="firstname exampleFormControlInput1"
          formControlName="firstname"
          placeholder="Entrez votre prénom"
          class="form-control"
        />
        <div *ngIf="registration.controls['firstname'].errors">
          <span *ngIf="registration.controls['firstname'].errors?.['required']"
            >Le champ "Firstname" est requis</span
          >
        </div>
      </div>
      <div class="col-6 form-group mb-4">
        <button
          btn
          btn-primary
          type="submit"
          [disabled]="!registration.valid"
          (click)="onSubmitForm()"
        >
          Soumettre
        </button>
      </div>
    </form>
  </div>
</div>
