.container, .container-img{
    margin-top: 30px;
    margin-bottom: 80px;
}

.container-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    overflow: scroll;
    margin: 50px;
}