<div class="row btn-group" style="margin-left: 15rem">
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-text-black btn-block background-color mr-2 padding-inline-buttons"
      (click)="selectCat('Starter')"
      
    >
      Entrée
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-text-black btn-block background-color mr-2 padding-inline-button"
      (click)="selectCat('mainCourse')"
    >
      Plat principal
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-text-black btn-block background-color mr-2 padding-inline-buttons"
      (click)="selectCat('Dessert')"
    >
      Dessert
    </button>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-text-black btn-block background-color mr-2 padding-inline-buttons"
      (click)="selectCat('Miscellaneous')"
    >
      Autres
    </button>
  </div>
</div>
