<app-search></app-search>
<div class="container text-center">
  <div class="row d-flex justify-content-around">
    <div class="card col-4">
      <div class="card-header header-style text-center">Par pays</div>
      <div class="card-body">
        <ng-container *ngFor="let area of areas">
          <p
            class="card-text cursor-pointer hover"
            (click)="showRecipeByArea(area.strArea)"
          >
            {{ area.strArea }}
          </p>
        </ng-container>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-header header-style text-center">Par ingrédients</div>
      <div class="card-body">
        <ng-container *ngFor="let ingredient of ingredients">
          <p
            class="card-text cursor-pointer hover"
            (click)="showRecipeByIngredient(ingredient.strIngredient)"
          >
            {{ ingredient.strIngredient }}
          </p>
        </ng-container>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-header header-style text-center">Par catégorie</div>
      <div class="card-body">
        <ng-container *ngFor="let category of categories">
          <p
            class="card-text hover cursor-pointer"
            (click)="showRecipeByCategory(category.strCategory)"
            [ngClass]="{
              selectedCategory: category.strCategory == selectedCategory
            }"
          >
            {{ category.strCategory }}
          </p>
        </ng-container>
      </div>
    </div>
    <div class="row card col-4">
      <div
        class="card-header header-style text-center col d-flex flex-row justify-content-center"
      >
        Par lettre
      </div>
      <div class="card-body">
        <span
          (click)="showRecipeByLetter(letter)"
          class="mx-3 cursor-pointer hover"
          *ngFor="let letter of letters"
        >
          {{ letter }}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container-img">
  <ng-container *ngFor="let meal of meals">
    <app-recipe [meal]="meal"></app-recipe>
  </ng-container>
</div>
