<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <form 
            class="d-flex form-inline" role="search">
                <input 
                formControlName="search"
                class="form-control rounded-pill bg-light-purple" type="search" id="mySearch" name="q" required
                    placeholder="Recherchez une recette (mots-clés, nom d’une recette, avec une lettre)" aria-label="Search">

                <!-- <div class="input-group-append"> -->
                    <button class="btn btn-text-black btn-block rounded-pill my-2 my-sm-0 background-color input-group-append"
                    type="submit">Rechercher</button>
                        <span class="validity"></span>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>