<div id="carousel">
    <div id="carouselStarter" class="carousel slide">
        <div class="carousel-inner">
            <div *ngFor="let slide of StarterSlides; let i = index" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
                <img [src]="slide.strMealThumb" [alt]="slide.strMeal" (click)="goToRecipe(slide.idMeal)">
                <!-- Bouton pour accéder à la fiche de détail -->
            </div>
            <h2>Entree</h2>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStarter" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselStarter" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>

    <div id="carouselSide" class="carousel slide">
        <div class="carousel-inner">
            <div *ngFor="let slide of sideSlides; let i = index" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
                <img [src]="slide.strMealThumb" alt="slide.strMeal" (click)="goToRecipe(slide.idMeal)">
                <!-- Bouton pour accéder à la fiche de détail -->
            </div>
            <h2>Plat</h2>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>

    <div id="carouselDessert" class="carousel slide">
        <div class="carousel-inner">
            <div *ngFor="let slide of dessertSlides; let i = index" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
                <img [src]="slide.strMealThumb" alt="slide.strMeal" (click)="goToRecipe(slide.idMeal)">
                <!-- Bouton pour accéder à la fiche de détail -->
            </div>
            <h2>Dessert</h2>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDessert" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDessert" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>


</div>
